body {
	background: var(--v-background-base, #2d2d2d);
	color: var(--v-text-base, #ccc);
	font-family: Fira code, Fira Mono, Consolas, Menlo, Courier, monospace;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/** Scrollbar */
*::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}
*::-webkit-scrollbar-track {
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
}
*::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.35);
	box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.4);
}

/* No text selection */
:root {
	user-select: none;
}

.molang-editor {
	font-size: 14px;
	line-height: 1.5;
	padding: 5px;
	height: 80vh;
	margin-bottom: 1rem;
}

/**
* Prism
*/
.prism-editor__textarea {
	background-color: transparent;
	border: none;
	color: white;
	user-select: none;
}
.prism-editor__textarea::selection {
	background-color: #bbb;
	opacity: 0.4;
}
.prism-editor__textarea:focus {
	opacity: 1;
	outline: none;
}
/**
 * Prism tokens
*/
.token.punctuation {
	color: var(--v-text-base, #ccc);
}
.token.boolean {
	color: var(--v-atom-base, rgb(240, 141, 73));
	background: var(--v-atom-background);
	font-style: var(--v-atom-font-style);
}
.token.number {
	color: var(--v-number-base, rgb(240, 141, 73));
	background: var(--v-number-background);
	font-style: var(--v-number-font-style);
}
.token.string {
	color: var(--v-string-base, rgb(126, 198, 153));
	background: var(--v-string-background);
	font-style: var(--v-string-font-style);
}
.token.keyword {
	color: var(--v-keyword-base, rgb(97, 150, 204));
	background: var(--v-keyword-background);
	font-style: var(--v-keyword-font-style);
}
.token.function-name {
	color: var(--v-type-base, rgb(97, 150, 204));
	background: var(--v-type-background);
	font-style: var(--v-type-font-style);
}
.token.selector {
	color: var(--v-definition-base, rgb(97, 150, 204));
	background: var(--v-definition-background);
	font-style: var(--v-definition-font-style);
}
.token.operator {
	color: var(--v-text-base, #ccc);
}

.output-row {
	border-top: 1px solid var(--v-text-base, #ccc);
}

.output-row .molang-output,
.output-row .console-output {
	padding: 12px;
	width: calc(50vw - 1px);
	height: calc(16vh - 15px);
}
.output-row .molang-output {
	border-right: 1px solid var(--v-text-base, #ccc);
}
.output-row .console-output {
	overflow-y: auto;
}

.options {
	border-top: 1px solid var(--v-text-base, #ccc);
	height: calc(4vh - 2px);
}
.options button {
	height: 100%;
	outline: 1px solid var(--v-text-base, #ccc);
	background: transparent;
	color: var(--v-text-base, #ccc);
	border: none;
	padding: 0 4px;
}

.options button svg {
	height: calc(1.4vh);
}
