@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background: var(--v-background-base, #171717);
	color: var(--v-text-base, #ccc);
}
.tile {
	@apply rounded-lg p-2;
	background: var(--v-expandedSidebar-base, #262626);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/** Scrollbar */
*::-webkit-scrollbar {
	border-radius: 24px;
	width: 8px;
	height: 8px;
}
*::-webkit-scrollbar-track {
	border-radius: 24px;
}
*::-webkit-scrollbar-thumb {
	border-radius: 24px;
	background-color: rgba(200, 200, 200, 0.9);
	border: thin solid rgba(0, 0, 0, 0.12);
}

.dark *::-webkit-scrollbar-thumb {
	border-radius: 24px;
	background-color: rgba(0, 0, 0, 0.8);
	border: thin solid rgba(255, 255, 255, 0.2);
}

/* No text selection */
:root {
	user-select: none;
}

.molang-editor {
	font-size: 14px;
	line-height: 1.5;
	padding: 5px;
	height: 100vh;
	font-family: Fira code, Fira Mono, Consolas, Menlo, Courier, monospace;
}

/**
* Prism
*/
.prism-editor__textarea {
	background-color: transparent;
	border: none;
	color: white;
	user-select: none;
}
.prism-editor__textarea::selection {
	background-color: #bbb;
	opacity: 0.4;
}
.prism-editor__textarea:focus {
	opacity: 1;
	outline: none;
}
/**
 * Prism tokens
*/
.token.punctuation {
	color: var(--v-text-base, #ccc);
}
.token.boolean {
	color: var(--v-atom-base, rgb(240, 141, 73));
	background: var(--v-atom-background);
	font-style: var(--v-atom-font-style);
}
.token.number {
	color: var(--v-number-base, rgb(240, 141, 73));
	background: var(--v-number-background);
	font-style: var(--v-number-font-style);
}
.token.string {
	color: var(--v-string-base, rgb(126, 198, 153));
	background: var(--v-string-background);
	font-style: var(--v-string-font-style);
}
.token.keyword {
	color: var(--v-keyword-base, rgb(97, 150, 204));
	background: var(--v-keyword-background);
	font-style: var(--v-keyword-font-style);
}
.token.function-name {
	color: var(--v-type-base, rgb(97, 150, 204));
	background: var(--v-type-background);
	font-style: var(--v-type-font-style);
}
.token.selector {
	color: var(--v-definition-base, rgb(97, 150, 204));
	background: var(--v-definition-background);
	font-style: var(--v-definition-font-style);
}
.token.operator {
	color: var(--v-text-base, #ccc);
}

.output-row {
	border-top: 1px solid var(--v-text-base, #ccc);
}

.output-row .molang-output,
.output-row .console-output {
	padding: 12px;
	width: calc(50vw - 1px);
	height: calc(16vh - 15px);
}
.output-row .molang-output {
	border-right: 1px solid var(--v-text-base, #ccc);
}
.output-row .console-output {
	overflow-y: auto;
}

.options {
	border-top: 1px solid var(--v-text-base, #ccc);
	height: calc(4vh - 2px);
}
